<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Readable Shakespeare Plays</title>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <% for play in index  %>
    <link rel="prefetch" href="<%= play[:file] %>">
  <% end %>
</head>
<body>
  <h1>Readable Shakespeare Plays</h1>


  <% for play in index  %>
    <details open>
      <summary><%= play[:title] %></summary>
      <p><a href="<%= play[:file] %>"><%= play[:subtitle] %></a></p>
    </details>
  <% end %>


</body>
</html>

